/*
$$$$$$$\   $$$$$$\  $$\    $$\   $$\  $$\      $$$$$$\  
$$  __$$\ $$ ___$$\ $$ |   $$ |$$$$ | $$ |    $$  __$$\ 
$$ |  $$ |\_/   $$ |$$ |   $$ |\_$$ | $$ |    $$ /  \__|
$$ |  $$ |  $$$$$ / \$$\  $$  |  $$ | $$ |    \$$$$$$\  
$$ |  $$ |  \___$$\  \$$\$$  /   $$ | $$ |     \____$$\ 
$$ |  $$ |$$\   $$ |  \$$$  /    $$ | $$ |    $$\   $$ |
$$$$$$$  |\$$$$$$  |   \$  /   $$$$$$\$$$$$$$$\$$$$$$  |
\_______/  \______/     \_/    \______\________\______/ 

$$$$$$$\  $$\       $$$$$$\   $$$$$$\  $$\   $$\       $$$$$$$\  $$\   $$\ $$$$$$$\  $$$$$$$\  $$\      $$$$$$$$\ 
$$  __$$\ $$ |     $$  __$$\ $$  __$$\ $$ | $$  |      $$  __$$\ $$ |  $$ |$$  __$$\ $$  __$$\ $$ |     $$  _____|
$$ |  $$ |$$ |     $$ /  $$ |$$ /  \__|$$ |$$  /       $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |     $$ |      
$$$$$$$\ |$$ |     $$$$$$$$ |$$ |      $$$$$  /        $$$$$$$  |$$ |  $$ |$$$$$$$  |$$$$$$$  |$$ |     $$$$$\    
$$  __$$\ $$ |     $$  __$$ |$$ |      $$  $$<         $$  ____/ $$ |  $$ |$$  __$$< $$  ____/ $$ |     $$  __|   
$$ |  $$ |$$ |     $$ |  $$ |$$ |  $$\ $$ |\$$\        $$ |      $$ |  $$ |$$ |  $$ |$$ |      $$ |     $$ |      
$$$$$$$  |$$$$$$$$\$$ |  $$ |\$$$$$$  |$$ | \$$\       $$ |      \$$$$$$  |$$ |  $$ |$$ |      $$$$$$$$\$$$$$$$$\ 
\_______/ \________\__|  \__| \______/ \__|  \__|      \__|       \______/ \__|  \__|\__|      \________\________|
*/

/**
 * @name D3V1LS｜D3V1LS-Theme  
 * @version 1.1.2
 * @author F4ir
 * @description For Setting-Icons enable for Vencord "ThemeAttributes" in Plugins.
 * @source https://github.com/F4ir/Black-Purple-D3V1LS
*/

/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Discord Add-on                                                                                                     ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ D3V1LS-Theme                                                                            ║ */
/* ║ Version:                 ║ 1.1.1 2                                                                                 ║ */
/* ║ Author:                  ║ F4ir                                                                                    ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */


@import url(https://raw.githubusercontent.com/F4ir/Black-Purple-D3V1LS/main/Source/Black-Purple-D3V1LS.css);
