

@import url('https://raw.githubusercontent.com/F4ir/Black-Purple-D3V1LS/main/Source/ADDEDEXTRA.css');
/* ^ This is the main Import ^ DO NOT TOUCH. Without this, the theme won't load!!! */

/* CUSTOMIZE COLORS IN HERE! */
:root {
    --rgb-highlight: 101, 0, 209; /* The main highlight color (changed to pink) */
    --rgb-background: 0, 0, 0; /* The main background color */

    --transition-time: .3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

    --background-image: unset; /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
    --background-position: center; /* Positions the background image */
    --background-size: cover; /* Scales the background image */
    --background-blur: 5px; /* Blurs the image which helps with readability of text infront of it */
    --background-brightness: 100%; /* Changes the background images brightness */
}
